
//Fuente principal
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;800&display=swap');

//Fuente Titulo
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Noto+Sans:wght@300;400;800&display=swap');

$font_Title:'Kavoon', cursive;

$primary_font:'Noto Sans', sans-serif;


// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #0e8d0a;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(248, 6, 6);

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900

