.button-amarillo{
    @include button($amarillo, inline-block)
}

.button-amarillo__block{
    @include button($amarillo, block)
}

.button-verde{
    @include button($verde, block)
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.boton-rojo-block{
    @include button($rojo, block);
    width: 100%;
}

.boton-amarillo-block{
    @include button($amarillo, block);
}