.banner img{
    width:100%;
    height: 100%;
    background-position: center center;
    background-size: cover;

}

.banner-text{
    animation-duration: 4s;
    animation-name: texto;
    h5{
        text-transform: uppercase;
    }
    h5,p{
    margin-bottom: 5rem;
    font-family: $primary_font;
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
    @media (max-width: 800px){
        font-size: 2rem;
    }
    }
} 
@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
