.header{
    animation-duration: 3s;
    animation-name:nav;
    background-color: $blanco;
    padding: 2rem 0 3rem 0 ;
}
@keyframes nav {
    from{
        transform: translate3d(0,-100%, 0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.logo{
    display: flex;
    align-items: center;

    img{
        @media (max-width:768px){
            width: 50px;
            height:50px;
        }
    }
}


.content-header{

    display: flex;
    flex-direction: column;
} 

.nav a,
    .media_social a{
        margin: 1rem;
        color: $negro;
        font-weight: $regular;
        @media (max-width:768px){
            margin-top: 3rem;
            font-size: 1.5rem;
        }
    }

.media_social{
    display: flex;
    
    img{
        max-width: 30px;
        max-height: 30px;
    }
}

.title{
    font-family: $font_Title;
    font-size: 3rem;
    @media (max-width: 768px){
        font-size: 2rem;
    }

}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav{
    @media(min-width: 768px){
        display: flex;
    }

    a{
        display: block;

        &:hover{
            color: $verde;
        }
    }
    
}

